<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 标准日志工厂实现 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 选择默认的连接方式 -->
    <environments default="MySQL57">
        <environment id="MySQL57">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF8MB4"/>
                <property name="username" value="root"/>
                <property name="password" value="201606"/>
            </dataSource>
        </environment>

        <environment id="MySQL80">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3308/test?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF8MB4&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="201606"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 读取Mapper文件 -->
    <mappers>
        <mapper resource="dao/UsersMapper.xml"/>
    </mappers>

</configuration>